.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/images/mainPage.jpeg);
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
}
.button{
    position: absolute;
    font-weight: normal;
    color: black;
    top: 10px;
    left: 8px;
    width: 75px;
    height: 20px;
    text-decoration: none;
}
.buttonBg{
    position: absolute;
    right: 358px;
    top: 7.5px;
    width: 75px;
    height: 34px;
    background-image: url(/images/Screenshot_778.png);
    background-size: contain;
}
.buttonBg:hover{
    background-color: gray;
    color: white;
    background-image: url(/images/Screenshot_779.png);
}
.button:after{
    text-decoration: none;
    color: black;
}
.loginBg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/images/loginPage.jpeg);
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
}